{% extends 'base.html' %}

{% block content %}
    {% include 'inc.posts_grid.html' %}
{% endblock content %}

{% block sidebar %}
    <h3>Популярное в разделе</h3>
    <ul class="most-viewed">
        {% for post in most_viewed %}
            <li>
                <a href="{{ post.get_absolute_url }}">
                    {{ post.title }}
                    <span class="glyphicon glyphicon-eye-open text-muted">{{ post.viewed }}</span>
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
