{% load thumbnail %}

<div class="row latest-post-preview">
    <div class="col-xs-12">
        <h2 class="latest-post-title">
            <a href="{{ page.object_list.0.get_absolute_url }}">
                {{ page.object_list.0.title }}
                <img alt="" src="{% thumbnail page.object_list.0.preview_image 975x300 crop=',0' %}" class="preview-img img-responsive"/>
            </a>
        </h2>
        {{ page.object_list.0.get_excerpt|safe }}
        <p class="text-muted meta-info">{{ page.object_list.0.date|date:"d.m.Y" }}
            {% if page.object_list.0.viewed %}<span class="glyphicon glyphicon-eye-open">{{ page.object_list.0.viewed }}</span>{% endif %}</p>
    </div>
</div>

<div class="grid row">
    {% for item in page.object_list %}
        {% if forloop.counter > 1 %}
            <div class="grid-item col-xs-12 col-sm-6 col-md-4">
                <h4 class="post-title">
                    <a href="{{ item.get_absolute_url }}">
                        <img alt="" src="{% thumbnail item.preview_image 732x414 crop %}" class="preview-img img-responsive"/>
                        {{ item.title }}
                    </a>
                </h4>
                {{ item.get_excerpt|safe }}
                <p class="text-muted meta-info">{{ item.date|date:"d.m.Y" }} {% if item.viewed %}<span class="glyphicon glyphicon-eye-open">{{ item.viewed }}</span>{% endif %}</p>
            </div>
        {% endif %}
    {% endfor %}
</div>
