{% extends "base.html" %}

{% block title %}
    <title>{{ post.title }} | Tips-Diary</title>
{% endblock %}

{% block description %}
    {% if post.description %}
        <meta name="description" content="{{ post.description }}">
    {% endif %}
{% endblock %}

{% block content %}
    <ol class="breadcrumb">
        <li><a href="/">Главная</a></li>
        <li><a href="{{ post.category.get_absolute_url }}">{{ post.category }}</a></li>
        <li class="active">{{ post.title }}</li>
    </ol>
    <div class="post-content">
        <h2>{{ post.title }}</h2>
        <p class="text-muted meta-info">{{ post.date|date:"D, d M Y" }} {% if post.viewed %}<span class="glyphicon glyphicon-eye-open">{{ post.viewed }}</span>{% endif %}</p>
        {{ post.content|safe }}
    </div>
{% endblock %}

{% block sidebar %}
    <h3>Похожие статьи</h3>
    <ul class="most-viewed">
        {% for post in related_posts %}
            <li>
                <a href="{{ post.get_absolute_url }}">
                    {{ post.title }}
                    <span class="glyphicon glyphicon-eye-open text-muted">{{ post.viewed }}</span>
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
