{% extends "base.html" %}
{% load thumbnail %}

{% block title %}
    <title>{{ post.title }} | Tips-Diary</title>
{% endblock %}

{% block description %}
    {% if post.description %}
        <meta name="description" content="{{ post.description }}">
    {% endif %}
{% endblock %}

{% block morehead %}
    <meta property="og:title" content="{{ post.title }}">
    <meta property="og:type" content="article">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:image" content="https://{% thumbnail post.preview_image 732x414 crop %}">
{% endblock %}

{% block content %}
    <ol class="breadcrumb">
        <li><a href="/">Главная</a></li>
        <li><a href="{{ post.category.get_absolute_url }}">{{ post.category }}</a></li>
        <li class="active">{{ post.title }}</li>
    </ol>
    <div class="post-content">
        <h2>{{ post.title }}</h2>

        <p class="text-muted meta-info">{{ post.date|date:"D, d M Y" }} {% if post.viewed %}<span class="glyphicon glyphicon-eye-open">{{ post.viewed }}</span>{% endif %}</p>

        <!-- AddToAny BEGIN -->
        <div class="a2a_kit a2a_kit_size_24 a2a_default_style">
        <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
        <a class="a2a_button_facebook"></a>
        <a class="a2a_button_twitter"></a>
        <a class="a2a_button_google_plus"></a>
        <a class="a2a_button_vk"></a>
        </div>
        <script type="text/javascript">
        var a2a_config = a2a_config || {};
        a2a_config.onclick = 1;
        a2a_config.locale = "ru";
        </script>
        <script type="text/javascript" src="//static.addtoany.com/menu/page.js"></script>
        <!-- AddToAny END -->
        <br>
        {{ post.content|safe }}
        <div class="a2a_kit a2a_kit_size_24 a2a_default_style">
        <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
        <a class="a2a_button_facebook"></a>
        <a class="a2a_button_twitter"></a>
        <a class="a2a_button_google_plus"></a>
        <a class="a2a_button_vk"></a>
        </div>

        <div id="disqus_thread" style="margin-top:30px;"></div>
        <script>
        /**
        * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
        * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
        */
        var disqus_config = function () {
            this.page.url = "{{ request.build_absolute_uri }}"; // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = {{ post.id }}; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };
        (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');

        s.src = '//tipsdiaryinfo.disqus.com/embed.js';

        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
    </div>
{% endblock %}

{% block sidebar %}
    {% if related_posts %}
    <h3>Похожие статьи</h3>
    <ul class="most-viewed">
        {% for post in related_posts %}
            <li>
                <a href="{{ post.get_absolute_url }}">
                    {{ post.title }}
                    <span class="glyphicon glyphicon-eye-open text-muted">{{ post.viewed }}</span>
                </a>
            </li>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock %}
